.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 81%);
  max-width: 600px;
  border-radius: 4px;
  button {
    align-self: flex-end;
  }
}
